.toolbar-actions
  button.btn.btn-large.btn-default
    span.icon.icon-list-add
  .btn-group
    button.js-toggle.btn.btn-large.btn-default.active(data-pane="book")
      span.icon.icon-book
    button.js-toggle.btn.btn-large.btn-default.active(data-pane="editor")
      span.icon.icon-pencil
    button.js-toggle.btn.btn-large.btn-default.active(data-pane="preview")
      span.icon.icon-eye
  .btn-group.pull-right
    button.btn.btn-large.btn-default
      span.icon.icon-book-open
