.nav-group
  border-top     1px solid #DCDFE1
  padding-bottom 5px
  
  &:first-child
    border-top none
    
  &.open
    background #FEFEFE
    
    h5
      border-bottom  1px solid #DCDFE1
      padding-bottom 5px
  
  .nav-group-item
    font-size  .8rem
    border-top 1px solid #DCDFE1
    padding    0 5px
    margin     0 15px
  
    &:nth-of-type(1)
      border-top none

    &:hover
      background-color #FAFAFA
