nav.nav-group
  h5.nav-group-title
    span.icon.icon-down-dir.pull-right
    |Preface
nav.nav-group.open
  h5.nav-group-title
    span.icon.icon-up-dir.pull-right
    |Chapter 1
  span.nav-group-item
    |List item title
  span.nav-group-item
    |List item title
  span.nav-group-item
    |List item title
  span.nav-group-item
    |List item title
nav.nav-group
  h5.nav-group-title
    span.icon.icon-down-dir.pull-right
    |Chapter 2
nav.nav-group
  h5.nav-group-title
    span.icon.icon-down-dir.pull-right
    |Conclusion
